* {
  box-sizing: border-box;
  background-image: "assets/BBBlogo.png";
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
  background: url('/assets/BBBlogo.png'), rgb(12, 45, 78);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  text-shadow: 1px 1px 5px black;
}

a {
  color: whitesmoke;
}

img {
  max-height: 300px;
  max-width: 90%;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(143, 161, 173);
  font-family: 'Fjalla One';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  padding: 0 3rem 0 3rem;
  margin: 0px;
  box-shadow: 0px 0px 10px black;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem>* {
  margin: .2rem;
  text-decoration: none;
}

.navItem>img, .navItem>div>img {
  width: 35px;
  height: 35px;
}

/* DO NOT REMOVE THIS down arrow! */
.navItem>*:not(img) {
  border: 1px solid orange;
  padding: 1rem 0 1rem 0;
}
/* up arrow */

.dropdown {
  position: absolute;
  background-color: whitesmoke;
  margin-top: 1rem;
  box-shadow: 1px 3px 5px black;
}

.adminDrop {
  right: 20px;
}

.dropdown>div>a {
  color: rgb(143, 161, 173);
  text-decoration: none;
}

.dropdown>div>button {
  font-family: 'Fjalla One';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  border: none;
  color: rgb(143, 161, 173);
  background-color: whitesmoke;
  text-shadow: 1px 1px 5px rgb(189, 206, 210);
}

.dropdown > *{
  padding: 1rem 1.5rem;
  text-shadow: 1px 1px 5px rgb(189, 206, 210);
}

.dropdown:first-child {
  border-radius: 1rem 1rem 0 0;
}

.dropdown:last-child {
  border-radius: 0 0 1rem 1rem;
  border: 1px solid rgb(143, 161, 173);
}

.allUsers {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  max-height: 35px;
  max-width: 35px;
}

.homeLogo {
  width: 75px;
  height: 75px;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
  width: 500px;
}

form > button {
  width: 100px;
}

/* All Products page */
.allProductsPage {
  margin: 1rem 2rem 1rem 2rem;
}

.pagination {
  display: flex;
}

.pagination>.active {
  background-color: rgb(25, 28, 30);
  color: whitesmoke;
}

.productsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productBlocks>* {
  margin-bottom: 7rem;
}

.productBlocks>.productForm {
  display: flex;
  justify-content: center;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid whitesmoke;
  width: calc((100% / 3) - 1rem) ;
  margin: .5rem;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(110, 128, 141, 0.95);
  box-shadow: 1px 1px 10px black;
}

.productsCard>ul {
  list-style-type:circle;
  text-align: left;
}

.readMore {
  font-weight: bolder;
}

.adminOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminOptions> p {
  margin-bottom: .2rem;
  text-decoration: underline;
}

.adminOptions>div {
  border: 1px solid whitesmoke;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
}

.adminOptions>div>* {
  text-align: center;
}